* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}


.container {
  background-color: #ffffff;
  padding: 2.5rem;
  width: 700px;
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}


.container h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.6rem;
}


input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
}


button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg,  #4ba272, #4ba272);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
button:active {
  transform: translateY(0);
  box-shadow: none;
}
.container p {
  margin-top: 1rem;
  font-size: 14px;
  color: #666;
}

.container a {
 
  text-decoration: none;
  font-weight: 500;
}

.container a:hover {
  text-decoration: underline;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


